###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
SinfulSouls/.vs/asdasd/v15/Server/sqlite3/db.lock
SinfulSouls/.vs/asdasd/v15/Server/sqlite3/storage.ide
SinfulSouls/.vs/asdasd/v15/Server/sqlite3/storage.ide-shm
SinfulSouls/.vs/asdasd/v15/Server/sqlite3/storage.ide-wal
SinfulSouls/.vs/SinfulSouls/v15/Server/sqlite3/db.lock
SinfulSouls/.vs/SinfulSouls/v15/Server/sqlite3/storage.ide
SinfulSouls/.vs/SinfulSouls/v15/Server/sqlite3/storage.ide-shm
SinfulSouls/.vs/SinfulSouls/v15/Server/sqlite3/storage.ide-wal

Assets/TextMesh Pro/
Assets/Angels and Demons (free)/
Assets/SlimUI/
Assets/Cyberleaf - Modern UI SFX/

#Assets/StatusIcons_Textures/